html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(120, 120, 223);
}

.conteiner {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.column{
    flex: 1;
    padding: 10px;
}

.conteiner-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
}

.navbar {
    display:flex;
    justify-content: space-between;
    width: 100%;
}

li>a {
    padding: 8px 24px;
}

a {
    color: white;
    text-decoration: none;
}
 
a:hover {
    color: aquamarine;
}

.brand {
    display: flex;

}

ul{
    display: flex;
}

.nav-link {
    display:flex;
   
}

.conteiner-video {
    max-width: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conteiner-imagenes {
    max-width: 99%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.conteiner-servicios {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(75, 70, 70);
    color: white;
    width: 100%;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    position: relative;
    bottom: 0;

}

.button-menu-toggle {
    display: none;
}

@media (max-width: 768px) {
    .column {
        flex: 100%;
    }

    .nav-links {
        display: none;
}
 
    .button-menu-toggle {
        display: block;
        background-color: white;
        border: none;
        border-radius: 50px;
        padding: 0 24px;
        font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    }
    .nav-links.active{
        position: absolute;
        display: flex;
        flex-direction: column;
        background-color: black;
        width: 100%;
        top: 50px;
        left: 0;
    }
}
